@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Merriweather:300,700,300italic,700italic|Source+Sans+Pro:900");
*{
    font-family: "Merriweather", Georgia, serif;
    color: white;
}
body, html {
    min-height: 650px; /* Set the minimum height for the body and html */
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #0D0833;
    margin:0;
}
/* Style for the download button */
.download-btn {
    display: fixed; 
    position: fixed; /* Fixed position */
    z-index: 1000; /* Ensure it stays on top */
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Inline block */
    font-size: 1.5vw; /* Font size */
    margin: 0 10px; /* Margin */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Transition for hover effect */
    right: 10px; 
    bottom: 4vh;
}

.download-btn:hover {
    background-color: #45a049; /* Darker green on hover */
}
app-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top */
    background-color: #a4a3ad; /* Background color */
    padding: 10px; /* Padding */
    display: flex;
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Center items vertically */
}

app-header h1 {
    
    color: white;
    margin: 0 50px 0 20px ;
    /* overflow-x: auto; */
}

app-header nav a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 30px;
    white-space: nowrap;
    position: relative;
    transition: top 0.2s ease-in-out;
}

app-header nav a:hover {
    text-decoration: underline;
    top: -2px;
}
app-header nav a.current {
    font-weight: bold;
    color: rgb(13, 8, 53); 
    text-decoration: underline;
}
.slide-menu {
    width: 250px;
    height: 100%;
    background-color: #a4a3ad;
    color: white;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 61.5px;
    right: -250px; /* Initially hidden off-screen */
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.slide-menu.open {
    right: 250px;
}

.slide-menu a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
}
.slide-menu a.current{
    color: #0D0833;
    text-decoration: underline;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 20px;
}

.menu-button img {
    width: 50px;
    height: 50px;
}

section {
    margin-top: 10vh; 
    text-align: center; 
}

section h1.frameTitle {
    margin: 10vh auto; 
    margin-bottom: 5vh; 
}
.frame {
    text-align: center; 
}

.frame img {
    height: 100px; 
    margin: 0 auto;  
    display: block; 
}


.frame h2 {
    margin: 0; /* Remove default margin */
}
section.content {
    margin-top: 0px;
}
.responsive-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.responsive-list li {
    flex: 1 1 100%;
    box-sizing: border-box;
    padding: 0.5rem;
}
.social-icons {
    text-align: center;
    margin-top: 20px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 4em;
    text-decoration: none;
}

.social-icons a:hover {
    opacity: 0.7; /* Change opacity on hover */
    cursor: pointer; /* Change the cursor to a pointer */
}
.social-icons img {
    height: 0.9em; /* Set the height equal to the font-size of social-icons a */
    margin: 0 10px; /* Add some margin for spacing */
    position: relative; /* Position the image relative to the text */
    top: 0.09em; 
}
.social-icons img:hover {
    opacity: 0.7; /* Change opacity on hover */
    cursor: pointer; /* Change the cursor to a pointer */
}
.centered-text {
    text-align: center; /* Center text horizontally */
    padding: 20px; /* Add padding */
    margin: 0 auto; /* Center block element */
    max-width: 800px; /* Optional: limit the width of the text */
}
.project-container {
    margin-top:200px;
    display: block;
    width: 300px;
    margin: 20px 20px 20px 20px;
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s, transform 0.3s;
}
.project-container h2 {
    margin: 0;
    color: #0D0833;
}
.project-container p {
    margin: 0;
    color: #0D0833;
}

.project-container:hover {
    background-color: #a4a3ad;
    transform: translateY(-2px);
}
/* Media query to adjust padding based on screen size */
@media (max-width: 1200px) or (max-height: 650px) {
    app-header nav a {
        display: none;
    }
    .menu-button {
        display: inline-block;
    }
}